div{
    width:100px;
    
    background-color: beige;
    background-image: url(example);
    border-style: dotted;
    border-width: 5px;
    border-color: brown;
    border:1px solid red;
    display:inline-block; 
    padding:3rem,3rem;
}

h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:50px;
    font-style: italic;
    font-weight: 50;

}