h3{
    color:bisque;
}
.head{
 color:aliceblue;
}
#head{
 color:red;
}
*{
  color: azure;
}
h1,#head{
    color:aqua;
}
input[type="text"]{
    color:aqua;
}
div{
    height:500px;
    width:500px;
    background-color: aqua;
    background-image: url(sample);
    background-repeat:repeat-x;
    background-attachment:fixed;
    
}
