 .carousel-item img {
      width: 100%;
      height: 500px;
      object-fit: cover;
    }

    
    .img-container {
      position: relative;
      width: 460px;
      height: 350px;
      margin: 80px;
    }

    .img-container img {
      position: absolute;
      object-fit: cover;
      border-radius: 18px;
      box-shadow: 0 10px 28px rgba(0,0,0,0.2);
    }

    .img1 {
      width: 170px;
      height: 270px;
      top: 0;
      left: 0;
      z-index: 4;
    }

    .img2 {
      width: 270px;
      height: 150px;
      bottom: 0;
      left: 90px;
      z-index: 2;
    }
    .nav.nav-fill .nav-link,
    .navbar-nav .nav-link {
    color: #000000 !important;       
    }
.about-section {
  display: flex;
  align-items: center;
  gap: 60px;
  margin-left: 10px;
  margin-top: 40px;
}

.img-container {
  flex-shrink: 0;
}

.about-text {
  max-width: 700px;
  color: #333;
}

.about-text h1 {
  font-size: 40px;
  font-weight: 800;
  line-height: 1.1;
  color: #0f172a;
}

.about-text p {
  font-size: 15px;
  line-height: 1.6;
  color: #4b5563;
}

.about-text p strong {
  color: #0b74d1;
}