div{
    width:100px;
    background-color:blue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-size:30px;
    display: inline-block;
    margin:10px;
    padding-left:30px;

}
span{
    width:100px;
    background-color:blue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-size:30px;
    display:block;
    margin:10px;
    padding-left:30px;
}