div{
    
    background-color:rgb(166, 166, 166);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-size:30px;
    border-radius:20px;
    margin:10px;
    
    display: flex;
    justify-content:space-between;
    align-items: center;

}

span{
    width:100px;
    background-color:rgb(166, 166, 243);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-size:30px;
    display:block;
    margin:10px;
    border-radius:20px;
    padding-left:30px;
}